[submodule "indexing"]
	path = indexing
	url = git@github.com:ellataira/ir-indexing.git
[submodule "retrieval-models"]
	path = retrieval-models
	url = git@github.com:ellataira/ir-retrieval-models.git
[submodule "crawler"]
	path = crawler
	url = git@github.com:ellataira/ir-crawler.git
[submodule "ml-for-ir"]
	path = ml-for-ir
	url = git@github.com:ellataira/ml-for-ir.git
[submodule "relevant-assessment"]
	path = relevant-assessment
	url = git@github.com:ellataira/relevance-assessment.git
[submodule "relevance-assessment"]
	path = relevance-assessment
	url = git@github.com:ellataira/relevance-assessment.git
[submodule "relevance-assessments"]
	path = relevance-assessments
	url = git@github.com:ellataira/relevance-assessment.git
[submodule "pagerank-hits"]
	path = pagerank-hits
	url = git@github.com:ellataira/pagerank-hits.git
[submodule "ML-for-IR"]
	path = ML-for-IR
	url = git@github.com:ellataira/ml-for-ir.git
